/*** select bootstrap compliant ***/

.waf-theme select {
  margin: 0;
  font: inherit;
  color: inherit;
  text-transform: none;
}

.waf-theme select.input-sm {
  height: 30px;
  line-height: 30px;
}

.waf-theme select[multiple].input-sm {
  height: auto;
}

.waf-theme select.form-group-sm .form-control {
  height: 30px;
  line-height: 30px;
}

.waf-theme select[multiple].form-group-sm .form-control {
  height: auto;
}

.waf-theme select.input-lg {
  height: 46px;
  line-height: 46px;
}

.waf-theme select[multiple].input-lg {
  height: auto;
}

.waf-theme select.form-group-lg .form-control {
  height: 46px;
  line-height: 46px;
}